<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/path/to/flash.min.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
</head>
<style>
    body{
    margin: 0%;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    background-image: url('https://images.pexels.com/photos/4349746/pexels-photo-4349746.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4349746.jpg&fm=jpg&_gl=1*o3roo6*_ga*MTk0OTcyNzIxNi4xNjY1MTk0Nzk0*_ga_8JE65Q40S6*MTY2NjU2NDM4NC42LjEuMTY2NjU2NDY4NS4wLjAuMA..');
    text-align: center;
    margin: 0%;
    margin-top: 0%;
    text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.update{
  text-align: center;
  margin-top: 30px;
}

.reset_update{
  text-align: center;
  margin-top: 30px;
  margin-left: 500px;
  margin-bottom: 10px;

}
.admin_user{
  text-align: center;
  margin-top: 30px;
  margin-right: 500px;
  margin-bottom: 10px;

}

h1{
    color: #000000;
    margin: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px
}
.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.log_home{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.heads{
  background: rgba(229, 229, 229, .6);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.home{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
}
.admin{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
}
.Main{
    text-align: center;
    font-size: large;
    margin-top: 260px;
}
.log{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
}
.Reset{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
.Update{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
#fname{
    height: 35px;
}

  h2{
    text-align: center;
  }
  .errorMessages{
    text-align: center;
    color: #D22B2B;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
    background: rgba(255, 255, 255, .0);
    font-size: 24px;
    font-weight: 600;

  }
.updateMessages{
    text-align: center;
    color: #4e784f;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
    background: rgba(255, 255, 255, .0);
    font-size: 24px;
    font-weight: 600;

  }
  table, th, td {
    margin: auto;
    text-align: left;
  }
  .dot {
  height: auto;

  background-color: #4e784f;
  background: rgba(78,120,79, .6);
  border-radius: 8px;
  display:block;
  padding: 8px;
  margin: 2px;
  border-style: solid;
  border-width: 4px;
  border-color: #4e784f;
  margin: auto;
  font-weight: 60px;

}
.dot2 {
  height: auto;
  width: fit-content;
  background-color: #fe6601;
  background: rgba(254, 102, 1, .6);
  border-radius: 8px;
  display:block;
  padding: 8px;
  margin: 2px;
  border-style: solid;
  border-width: 4px;
  border-color: #fe6601;
  margin: auto;
  font-weight: 60px;
}
.dot3 {
  height: auto;
  width: fit-content;
  background-color: #D22B2B;
  background: rgba(210, 43, 43, .6);
  border-radius: 8px;
  display:block;
  padding: 8px;
  margin: 2px;
  border-style: solid;
  border-width: 4px;
  border-color: #D22B2B;
  margin: auto;
  font-weight: 60px;
}
.labelling{
 border-color: #000000;
 display:grid;
 grid-template-columns: 4fr 4fr 4fr;
 font-family: Copperplate,Copperplate Gothic Light,fantasy;
 margin: auto;
 padding: 10px;
}
.thedays{
 border-color: #000000;
 border-radius: 8px;
 padding: 10px;
 font-family: Copperplate,Copperplate Gothic Light,fantasy;

}
.dots {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 10px;
  display:block;
  padding: 8px;
  margin: 2px;
  width: 100px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center
}
.green {
  background-color: #4e784f;
  border-radius: 8px;
  border-color: #000000;
  display:block;
  padding: 10px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: antiquewhite;
  border-style: solid;
  border-width: 0px;
}

.orange {
  background-color: #fe6601;
  border-radius: 8px;
  border-color: #000000;
  display:block;
  padding: 10px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 0px;
}
.red
{
  background-color: #D22B2B;
  border-radius: 8px;
  border-color: #000000;
  display:block;
  padding: 10px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: antiquewhite;
  border-style: solid;
  border-width: 0px;
}
.days
{
  background-color: #e5e5e5;
  border-radius: 8px;
  border-color: #000000;
  display:block;
  padding: 10px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: #000000;
  border-style: solid;
  border-width: 1px;

}
.content{
 display:grid;
background: rgba(229, 229, 229, .6);
 width: fit-content;
 margin-bottom: 30px;
 margin-top: 30px;
 border-radius: 8px;
}
.grey{
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin: auto;
}

.weekday{
 background: #e5e5e5;
  color: #000000;
  margin: 5px;
  border-radius: 8px;
  border-color: #000000;
  padding: 5px;
  font-size: small;
}
.checks{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.allmydays{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  padding: 8px;
}
.labels{
 justify-items: center;
}
p{
  color: #000000;
}
.mybuttons{
  display:grid;
  grid-template-columns: 1fr 1fr ;
}
.allContent{
  display: flex;
	flex-flow: column wrap;
}
.checkboxes{
   background: rgba(229, 229, 229, .5);
   width: fit-content;
   margin: auto;
   border-radius: 8px;
   padding: 10px;

}
a { color: #000000; }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

</style>
<body>
  <div class="allContent">
      <div class="heads">
           <div class="div_icon">
                        <img src="https://raw.githubusercontent.com/Wiseman930/Waiter-workingdays/4b7fdc2134b6a2812f0497fc12ce5c97b0f6d047/images/restaurant-_1_.svg" alt="no image" class="center2">
                    </div>
             <div class="tittle">
                        <img src="https://raw.githubusercontent.com/Wiseman930/Waiter-workingdays/4b7fdc2134b6a2812f0497fc12ce5c97b0f6d047/images/cover.svg" alt="no image" class="center4">
                    </div>
          <div class="log_home">
              <div class="home"><a href="/index"> Login </a></div>
              <div class="home"><a href="/"> Home </a></div>
          </div>
      </div>

<div class="mybuttons">
<form action="days" method="post">
<div class="reset_update">
    <input type="submit" class="button-primary Reset" name="reset"  id="sizeLarge" value="Reset"/>
</div>
</form>

<form action="admin_update" method="post">
  <div class="admin_user">
  <input type="submit" class="button-primary Update" name="update"  id="sizeLarge" value="Update"/>
</div>
</div>

<div class="grey">
  <div class="content">
    <div class="labelling">
      <div class="greenG">
      <span class="dot">Enough waiters</span>
      <label class="labels"></label>
      </div>
      <div class="orangeG">
      <span class="dot2">Waiters needed</span>
      <label class="labels"></label>
      </div>
      <div class="redG">
      <span class="dot3">Too much waiters</span>
      <label class="labels"></label>
      </div>
    </div>
          <div class="twoMessages">
          <div class="errorMessages">
          {{#if messages.errors}}
          {{messages.errors}}
          {{/if}}
        </div>
        <div class="updateMessages">
          {{#if messages.update}}
          {{messages.update}}
          {{/if}}
        </div>
   </div>
    </div>
</div>
  <div class="checkboxes">
    <table>
        {{#each allNames}}
        <tr>
            <td>
                <p>{{names2}}</p>
            </td>
            <td>
              <div class="checks">
              <div class="{{color0}}">
                <input type="checkbox" id="weekday-mon" class="" name="{{names2}}" value=1 {{daily0}} />
                <label for="weekday-mon">Mon</label>
              </div>
              <div class="{{color1}}">
                <input type="checkbox" id="weekday-tue" class="" name="{{names2}}" value=2 {{daily1}} />
                <label for="weekday-tue">Tues</label>
              </div>
                <div class="{{color2}}">
                <input type="checkbox" id="weekday-wed" class="" name="{{names2}}" value=3 {{daily2}} />
                <label for="weekday-wed">Wed</label>
                 </div>
                <div class="{{color3}}">
                <input type="checkbox" id="weekday-thu" class="" name="{{names2}}" value=4 {{daily3}} />
                <label for="weekday-thu">Thurs</label>
                 </div>
                <div class="{{color4}}">
                <input type="checkbox" id="weekday-fri" class="" name="{{names2}}" value=5 {{daily4}} />
                <label for="weekday-fri">Fri</label>
                 </div>
                <div class="{{color5}}">
                <input type="checkbox" id="weekday-sat" class="" name="{{names2}}" value=6 {{daily5}} />
                <label for="weekday-sat">Sat</label>
                 </div>
                <div class="{{color6}}">
                <input type="checkbox" id="weekday-sun" class="" name="{{names2}}" value=7 {{daily6}}/>
                <label for="weekday-sun">Sun</label>
                 </div>
                </div>
                <hr>
            </td>
        </tr>
           {{/each}}
    </table>
  </div>
</form>
</div>
</body>
</html>