<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/path/to/flash.min.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
</head>
<style>
    body{
    margin: 0%;
    background-color: #ffffff;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
.update{
  text-align: center;
  margin-top: 30px;
}

.reset_update{
  text-align: center;
  margin-top: 30px;

}
.admin_user{
  text-align: center;
  margin-top: 30px;

}

h1{
    color: #000000;
    margin: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.log_home{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heads{
  background-color: #fca311;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.home{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 8px;
  color: #000000;
  padding: 12px;
  margin: 2px;
}
.admin{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 8px;
  color: #000000;
  padding: 12px;
}
.Main{
    text-align: center;
    font-size: large;
    margin-top: 260px;
}
.log{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
}
.Reset{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  transform: translateY(30px) translateX(-90px);
}
.Update{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  transform: translateY(-40px) translateX(90px);
}
#fname{
    height: 35px;
}

  h2{
    text-align: center;
  }
  .errorMessages{
    text-align: center;
    color: #a4161a;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
  }
.updateMessages{
    text-align: center;
    color: green;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
  }
  table, th, td {
    margin: auto;
    text-align: left;
  }
  .dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display:block;
  padding: 8px;
  margin: 2px;

}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display:block;
  padding: 8px;
  margin: 2px
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display:block;
  padding: 8px;
  margin: 2px;
}

.labelling{
 border-color: #000000;
 display:grid;
 grid-template-columns: 1fr 3.5fr 1fr 3.5fr 1fr 3.5fr;
 font-family: Copperplate,Copperplate Gothic Light,fantasy;
 margin: auto;
 padding: 10px;

}
.thedays{
 border-color: #000000;
 border-radius: 8px;
 padding: 10px;
 font-family: Copperplate,Copperplate Gothic Light,fantasy;

}
.dots {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 10px;
  display:block;
  padding: 8px;
  margin: 2px;
  width: 100px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center
}
.green {
  background-color: green;
  border-radius: 10px;
  display:block;
  padding: 8px;
  padding-top: 16px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: antiquewhite;
}

.orange {
  background-color: orange;
  border-radius: 10px;
  display:block;
  padding: 8px;
  padding-top: 16px;
  margin: 3px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: black;
}
.red {
  background-color: red;
  border-radius: 8px;
  display:block;
  padding: 8px;
  padding-top: 16px;
  margin: 2px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: antiquewhite;
}
.content{
 display:grid;
 background-color: #e5e5e5;
 width: fit-content;
 margin-bottom: 30px;
 margin-top: 30px;
}
.grey{
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekday{
 background: #e5e5e5;
    color: #000000;
    margin: 5px;
    border-radius: 8px;
    border-color: #000000;
    padding: 5px;
    font-size: small;
}
.checks{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.checkboxes{
  padding-top: 0px;
}
.labels{
   transform: translateY(15px);
}
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

</style>
<body>
            <div class="heads">
                    <div class="div_icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/2316/2316884.png" alt="no image" class="center2">
                    </div>
                      <div class="tittle">
                        <h1>Waiter Availability</h1>
                    </div>
                    <div class="log_home">
                        <div class="home"><a href="/index"> Login </a></div>
                        <div class="home"><a href="/"> Home </a></div>
                    </div>
            </div>

<form action="days" method="post">
<div class="reset_update">
    <input type="submit" class="button-primary Reset" name="reset"  id="sizeLarge" value="Reset"/>
</div>
</form>

<form action="admin_update" method="post">
  <div class="admin_user">
  <input type="submit" class="button-primary Update" name="update"  id="sizeLarge" value="Update"/>
</div>
    <span>
    <div class="errorMessages">
        {{#if messages.errors}}
        {{messages.errors}}
        {{/if}}
    </div>
    <div class="updateMessages">
        {{#if messages.update}}
        <span>{{messages.update}}
        {{/if}}
    </div>
    </span>
<div class="grey">
<div class="content">
  <div class="labelling">
    <span class="dot"></span>
    <label class="labels">Enough waiters</label>
    <span class="dot2"></span>
    <label class="labels">Need more waiters</label>
    <span class="dot3"></span>
    <label class="labels">Too much waiters</label>
  </div>
</div>
</div>
  <div class="checkboxes">
    <table>
        {{#each allNames}}
        <tr>
            <td>
                {{names2}}
            </td>
            <td>
              <div class="checks">
              <div class="{{colorMon}}">
                <input type="checkbox" id="weekday-mon" class="" name="{{names2}}" value=1 {{monday}} />
                <label for="weekday-mon">Mon</label>
              </div>
              <div class="{{colorTues}}">
                <input type="checkbox" id="weekday-tue" class="" name="{{names2}}" value=2 {{tuesday}} />
                <label for="weekday-tue">Tues</label>
              </div>
                <div class="{{colorWed}}">
                <input type="checkbox" id="weekday-wed" class="" name="{{names2}}" value=3 {{wednesday}} />
                <label for="weekday-wed">Wed</label>
                 </div>
                <div class="{{colorThurs}}">
                <input type="checkbox" id="weekday-thu" class="" name="{{names2}}" value=4 {{thursday}} />
                <label for="weekday-thu">Thurs</label>
                 </div>
                <div class="{{colorFri}}">
                <input type="checkbox" id="weekday-fri" class="" name="{{names2}}" value=5 {{friday}} />
                <label for="weekday-fri">Fri</label>
                 </div>
                <div class="{{colorSat}}">
                <input type="checkbox" id="weekday-sat" class="" name="{{names2}}" value=6 {{saturday}} />
                <label for="weekday-sat">Sat</label>
                 </div>
                <div class="{{colorSun}}">
                <input type="checkbox" id="weekday-sun" class="" name="{{names2}}" value=7 {{sunday}}/>
                <label for="weekday-sun">Sun</label>
                 </div>
                </div>
                <hr>
            </td>
        </tr>
           {{/each}}
    </table>
  </div>
</form>
</body>
</html>