<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/path/to/flash.min.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
    <style>
   body{
  margin: 0%;
  background-color: #ffffff;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  background-image: url('https://images.pexels.com/photos/4349746/pexels-photo-4349746.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4349746.jpg&fm=jpg&_gl=1*o3roo6*_ga*MTk0OTcyNzIxNi4xNjY1MTk0Nzk0*_ga_8JE65Q40S6*MTY2NjU2NDM4NC42LjEuMTY2NjU2NDY4NS4wLjAuMA..');
  text-align: center;
  margin: 0%;
  margin-top: 0%;
  text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.update{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.heads{
  background: rgba(229, 229, 229, .6);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 15px;
}
.waiterSection{
  background: rgba(229, 229, 229, .6);
  width: max-content;
  padding: 10px;
  margin-top: 40px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
a { color: #000000; }
.home{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
}

h1{
    color: #000000;
    margin: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px
}
.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.center2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;

}
.center4
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:460px;
  height: 200px;

}
.div_icon{
  margin: auto;
  display: block;
}
.log_home{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Main{
    text-align: center;
    font-size: x-large;
    margin-top: 260px;
}
.log{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aquamarine;
    background-color: #e5e5e5;
    border-color: #000000;
    color: #000000;
    border-radius: 8px;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
#fname{
    height: 35px;
}
.weekDays-selector{
    padding-top: 80px;
    text-align: center;
}
.weekDays-selector input {
    display: none!important;

  }

  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #e5e5e5;
    height: 35px;
    width: 80px;
    padding: 15px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size:smaller;
  }

  .weekDays-selector input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
  h2{
    text-align: center;
    font-size: large;
    color: #000000;
  }
  .errorMessages{
    text-align: center;
    color: #D22B2B;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
    font-size: 20px;
     font-weight: 600;
  }
.updateMessages{
    text-align: center;
    color: #4e784f;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
    font-size: 20px;
    font-weight: 600;

  }
  table, th, td {
    margin: auto;
    text-align: left;
  }
    @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

    </style>
</head>


<body>
 <div class="heads">
        <div class="div_icon">
           <img src="https://s127.convertio.me/p/9kwj1jpgKtbALgeASp3-pQ/93bb63fa8079dcc03ffaf66c23a1ed16/restaurant-_1_.svg" alt="no image" class="center2">
      </div>
      <div class="tittle">
          <img src="https://s121.convertio.me/p/mVRwxDoMNH-YXR1ONja_4g/93bb63fa8079dcc03ffaf66c23a1ed16/cover.svg" alt="no image" class="center4">
      </div>
      <div class="log_home">
          <div class="home"><a href="/"> Home </a></div>
          <div class="home"><a href="/index"> Login </a></div>
      </div>
 </div>

<div class="waiterSection">
{{#each alldays}}
<h2>{{registerName}} please select and update your working days</h2>
{{/each}}
  <br>
      <div class="errorMessages">
        {{#if messages.errors}}
        <span>{{messages.errors}}</span>
        {{/if}}
    </div>
  <div class="updateMessages">
        {{#if messages.update}}
        <span>{{messages.update}}</span>
        {{/if}}
    </div>
</div>

{{#each alldays}}
<form action="{{registerName}}" method="post">
<div class="weekDays-selector">
    <input type="checkbox" id="weekday-mon" class="weekday" name="weekday" value=1 {{mon}} />
    <label for="weekday-mon">Monday</label>
    <input type="checkbox" id="weekday-tue" class="weekday" name="weekday" value=2 {{tue}} />
    <label for="weekday-tue">Tuesday</label>
    <input type="checkbox" id="weekday-wed" class="weekday" name="weekday" value=3 {{wed}} />
    <label for="weekday-wed">Wednesday</label>
    <input type="checkbox" id="weekday-thu" class="weekday" name="weekday" value=4 {{thurs}} />
    <label for="weekday-thu">Thursday</label>
    <input type="checkbox" id="weekday-fri" class="weekday" name="weekday" value=5 {{fri}} />
    <label for="weekday-fri">Friday</label>
    <input type="checkbox" id="weekday-sat" class="weekday" name="weekday" value=6 {{sat}} />
    <label for="weekday-sat">Saturday</label>
    <input type="checkbox" id="weekday-sun" class="weekday" name="weekday" value=7 {{sun}}/>
    <label for="weekday-sun">Sunday</label>
</div>
<div class="update">
    <input type="submit" class="log" name="fontSizeControl"  id="sizeLarge" value="Update"/>
</div>
</form>
{{/each}}
</body>

</html>